{% extends 'core/base.html' %}

{% block title %}- feature details{% endblock %}

{% block body %}
<div class="container">
    <div>
        <h3>Feature details</h3>
    </div>
    <div>
        <img src="{{ MEDIA_URL }}{{ feature.picture.url }}" alt="Feature Image" class="width-18">
         <div class="mt-3">
             <div>
                 <h5>{{ feature.name }}</h5>
             </div>

             <div class="my-3">
                  <p class="mb-0">
                      {% if feature.approved == True %}
                      Approved
                      {% elif feature.approved == False %}
                      Rejected
                      {% else %}
                      Not evaluated
                      {% endif %}
                  </p>
                  <small>approval status</small>
             </div>

             <div class="my-3">
                 <p class="mb-0 border border-rounded p-2">{{ feature.description }}</p>
                 <small>description</small>
             </div>

             <div class="my-3">
                 <p class="mb-0 border border-rounded p-2">{{ feature.payload }}</p>
                 <small>code</small>
             </div>

              <div class="my-3">
                  <p class="mb-0">{{ feature.key }}</p>
                  <small>key</small>
             </div>

             <a href="{% url 'developer:edit_feature' feature.pk %}" class="btn btn-primary">Edit details</a>
        </div>
    </div>
</div>
{% endblock %}