{% extends 'core/base.html' %}

{% block title %}- feature details{% endblock %}

{% block body %}
<div class="container">
    <div>
        <h3>Feature details</h3>
    </div>
    <div>
        <img src="{{ MEDIA_URL }}{{ feature.picture.url }}" alt="Feature Image" class="width-18">
         <div class="mt-3">
            <h5>{{ feature.name }}</h5>
            <small>{{ feature.get_community_type_display }}</small>
            <p>{{ feature.description }}</p>
            <p>{{ feature.key }}</p>
            <p>{{ feature.payload }}</p>
            <a href="{% url 'developer:edit_feature' feature.pk %}" class="btn btn-primary">Edit details</a>
        </div>
    </div>
</div>
{% endblock %}