.card{
    min-height: 32rem;
    max-height: 35rem;
}

a:hover{
    text-decoration: none;
}

.form-width{
    min-width: 280px;
    width: 50%;
}

.width-18{
    width: 18rem;
}

.border-dashed{
    border: 4px dashed grey;
}

.nav-item{
    padding-left: 10px;
}