a:hover{
    text-decoration: none;
}

.form-width{
    min-width: 300px;
    width: 50%;
}

.width-18{
    width: 18rem;
}

a.card:hover{
    background-color: lightgrey;
}

.border-dashed{
    border: 4px dashed grey;
}